<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="icon" type="img/png" href="/resources/images/logo.png"/>
        <link rel="stylesheet" href="/styles/style-dashboard.css" />
    </head>
    <body>
        <section class="header-section">
            <header>
                <div class="logo-title">Language Learning Dashboard</div>
                <div class="user-welcome">Welcome <%= user %></div>
                <div class="logout-section"><form action='/logout' method="POST"><input type="submit" value="Logout"/></form></div>
            </header>
        </section>
        <section class="content-section">
            <div class="content-container">
                <div class="sidebars">
                    <div class="sidebar" onclick="selectorChange(this); clickedProgress();">
                        Progress
                    </div>
                    <div class="sidebar" onclick="selectorChange(this); clickedLPath();">
                        Learning Path
                    </div>
                    <div class="sidebar" onclick="selectorChange(this); clickedAssessment();">
                        Assessments
                    </div>
                    <div class="sidebar" onclick="selectorChange(this); clickedFeedbacks();">
                        Feedbacks
                    </div>
                    <div class="sidebar" onclick="selectorChange(this); clickedSettings();">
                        Settings
                    </div>

                </div>
                <div class="main-content" id="main-info">
                    <h1>Welcome <%= user %></h1>
                    <h2>Use the sidebars to navigate</h2>
                    <h2>Progress - Check your learning progress</h2>
                    <h2>Learning Path - To access your learning resources</h2>
                    <h2>Assessments - To test your understanding</h2>
                    <h2>Feedback - From native speakers and professionals</h2>
                    <h2>Settings - Set your preferences</h2>
                </div>
            </div>
        </section>
        <script>
            function selectorChange(e)
            {
                const items = document.querySelectorAll('.sidebar');
                items.forEach( (item, index) =>
                            {
                                item.style.backgroundColor = "#95F095";
                                item.style.fontWeight="normal";
                            }
                ) 
                e.style.fontWeight = "bold";
                e.style.backgroundColor = "white";
            }
            //Sidebar functions
            async function clickedProgress()
            {
                const tableContainer = document.getElementById('main-info')
                tableContainer.innerHTML = "<h1>Progress</h1>";
                
                const response = await fetch('/progress');
                const data = await response.json();
                //console.log(data);

                const table = document.createElement('table');
                table.classList.add('progress-table');

                const thead = table.createTHead();
                const tbody = table.createTBody();

                const headerRow = thead.insertRow();
                ['User','Language','Course','Status','Modified Date'].forEach( (headerText) =>
                    {
                        const headerCell = document.createElement('th');
                        headerCell.textContent = headerText;
                        headerRow.appendChild(headerCell);
                    }
                );
                
                data.forEach( (dataObject) =>
                    {
                        const row = tbody.insertRow();
                        Object.values(dataObject).forEach( (value) =>
                            {
                                const cell = row.insertCell();
                                cell.textContent = value;
                            }
                        )
                    }
                );
                
                console.log(data);
                table.appendChild(tbody);
                tableContainer.appendChild(table);

            }
            function clickedLPath()
            {
                const content = document.getElementById('main-info');
                content.innerHTML = "<h1>Learning Path</h1>";

                const formEng = document.createElement("form");
                formEng.action = "/lp-english";
                formEng.id = "eng-form";
                formEng.method="GET";

                const btnEng = document.createElement('button');
                btnEng.classList.add("lp-btns");
                btnEng.textContent = "English";
                btnEng.form="eng-form";

                const formMal = document.createElement("form");
                formMal.action = "/lp-malayalam";
                formMal.id = "mal-form";
                formMal.method="GET";
                
                const btnMal = document.createElement('button');
                btnMal.classList.add("lp-btns");
                btnMal.textContent = "Malayalam";
                btnMal.form="mal-form";

                const formTam = document.createElement("form");
                formTam.action = "/lp-tamil";
                formTam.id = "tam-form";
                formTam.method="GET";
                
                const btnTam = document.createElement('button');
                btnTam.classList.add("lp-btns");
                btnTam.textContent = "Tamil";
                btnTam.form="tam-form";

                const formTel = document.createElement("form");
                formTel.action = "/lp-telugu";
                formTel.id = "tel-form";
                formTel.method="GET";

                const btnTel = document.createElement('button');
                btnTel.classList.add("lp-btns");
                btnTel.textContent = "Telugu";
                btnTel.form="tel-form";

                const formKan = document.createElement("form");
                formKan.action = "/lp-kannada";
                formKan.id = "kan-form";
                formKan.method="GET";

                const btnKan = document.createElement('button');
                btnKan.classList.add("lp-btns");
                btnKan.textContent = "Kannada";
                btnKan.form="kan-form";

                const formHin = document.createElement("form");
                formHin.action = "/lp-hindi";
                formHin.id = "hin-form";
                formHin.method="GET";

                const btnHin = document.createElement('button');
                btnHin.classList.add("lp-btns");
                btnHin.textContent = "Hindi";
                btnHin.form="hin-form";

                const formSan = document.createElement("form");
                formSan.action = "/lp-sanskrit";
                formSan.id = "san-form";
                formSan.method="GET";

                const btnSan = document.createElement('button');
                btnSan.classList.add("lp-btns");
                btnSan.textContent = "Sanskrit";
                btnSan.form="san-form";

                const formGer = document.createElement("form");
                formGer.action = "/lp-german";
                formGer.id = "ger-form";
                formGer.method="GET";

                const btnGer = document.createElement('button');
                btnGer.classList.add("lp-btns");
                btnGer.textContent = "German";
                btnGer.form="ger-form";

                const formFre = document.createElement("form");
                formFre.action = "/lp-french";
                formFre.id = "fre-form";
                formFre.method="GET";

                const btnFre = document.createElement('button');
                btnFre.classList.add("lp-btns");
                btnFre.textContent = "French";
                btnFre.form="fre-form";

                const formJap = document.createElement("form");
                formJap.action = "/lp-japanese";
                formJap.id = "jap-form";
                formJap.method="GET";

                const btnJap = document.createElement('button');
                btnJap.classList.add("lp-btns");
                btnJap.textContent = "Japanese";
                btnJap.form="jap-form";

                const formSpa = document.createElement("form");
                formSpa.action = "/lp-spanish";
                formSpa.id = "spa-form";
                formSpa.method="GET";

                const btnSpa = document.createElement('button');
                btnSpa.classList.add("lp-btns");
                btnSpa.textContent = "Spanish";
                btnSpa.form="spa-form";

                const formKor = document.createElement("form");
                formKor.action = "/lp-korean";
                formKor.id = "kor-form";
                formKor.method="GET";

                const btnKor = document.createElement('button');
                btnKor.classList.add("lp-btns");
                btnKor.textContent = "Korean";
                btnKor.form="kor-form";

                const formGre = document.createElement("form");
                formGre.action = "/lp-greek";
                formGre.id = "gre-form";
                formGre.method="GET";

                const btnGre = document.createElement('button');
                btnGre.classList.add("lp-btns");
                btnGre.textContent = "Greek";
                btnGre.form="gre-form";

                formEng.appendChild(btnEng);
                formMal.appendChild(btnMal);
                formTam.appendChild(btnTam);
                formTel.appendChild(btnTel);
                formKan.appendChild(btnKan);
                formHin.appendChild(btnHin);
                formSan.appendChild(btnSan);
                formGer.appendChild(btnGer);
                formFre.appendChild(btnFre);
                formJap.appendChild(btnJap);
                formSpa.appendChild(btnSpa);
                formKor.appendChild(btnKor);
                formGre.appendChild(btnGre);

                content.appendChild(formEng);
                content.appendChild(formMal);
                content.appendChild(formTam);
                content.appendChild(formTel);
                content.appendChild(formKan);
                content.appendChild(formHin);
                content.appendChild(formSan);
                content.appendChild(formGer);
                content.appendChild(formFre);
                content.appendChild(formJap);
                content.appendChild(formSpa);
                content.appendChild(formKor);
                content.appendChild(formGre);
            }
            function clickedAssessment()
            {
                const quiz = document.getElementById('main-info');
                quiz.innerHTML = "<h1>Assessments</h1><h2>English Assessment - Alphabets 1</h2>";

                const quizForm = document.createElement("form");
                quizForm.action = "/eng-quiz";
                quizForm.id = "engQuiz";
                quizForm.method="POST";

                const label1 = document.createElement("label");
                label1.htmlFor="inputID";
                label1.textContent="Q) Type the 15th alphabet in the English:  ";

                const inp = document.createElement("input");
                inp.id = "inputID";
                inp.name="answer";
                inp.form = "engQuiz";

                const btn = document.createElement('button');
                btn.classList.add("lp-btns");
                btn.textContent = "Check Answer";
                btn.form="engQuiz";

                quizForm.appendChild(label1);
                quizForm.appendChild(inp);
                quizForm.appendChild(btn);

                quiz.appendChild(quizForm);

            }
            function clickedFeedbacks()
            {
                document.getElementById('main-info').innerHTML = "<h1>Feedbacks</h1>";
            }
            function clickedSettings()
            {
                document.getElementById('main-info').innerHTML = "<h1>Settings</h1>";
            }
        </script>
    </body>
</html>