<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="icon" type="img/png" href="/resources/images/logo.png"/>
        <link rel="stylesheet" href="/styles/style-dashboard.css" />
    </head>
    <body>
        <section class="header-section">
            <header>
                <div class="logo-title">Language Learning Dashboard</div>
                <div class="user-welcome">Welcome <%= user %></div>
                <div class="logout-section"><form action='/logout' method="POST"><input type="submit" value="Logout"/></form></div>
            </header>
        </section>
        <section class="content-section">
            <div class="content-container">
                <div class="sidebars">
                    <div class="sidebar" onclick="selectorChange(this); clickedProgress();">
                        Progress
                    </div>
                    <div class="sidebar" onclick="selectorChange(this); clickedLPath();">
                        Learning Path
                    </div>
                    <div class="sidebar" onclick="selectorChange(this); clickedAssessment();">
                        Assessments
                    </div>
                    <div class="sidebar" onclick="selectorChange(this); clickedFeedbacks();">
                        Feedbacks
                    </div>
                    <div class="sidebar" onclick="selectorChange(this); clickedSettings();">
                        Settings
                    </div>

                </div>
                <div class="main-content" id="main-info">
                    <h1>Welcome <%= user %></h1>
                    <h2>Use the sidebars to navigate</h2>
                    <h2>Progress - Check your learning progress</h2>
                    <h2>Learning Path - To access your learning resources</h2>
                    <h2>Assessments - To test your understanding</h2>
                    <h2>Feedback - From native speakers and professionals</h2>
                    <h2>Settings - Set your preferences</h2>
                </div>
            </div>
        </section>
        <script>
            function selectorChange(e)
            {
                const items = document.querySelectorAll('.sidebar');
                items.forEach( (item, index) =>
                            {
                                item.style.backgroundColor = "#95F095";
                                item.style.fontWeight="normal";
                            }
                ) 
                e.style.fontWeight = "bold";
                e.style.backgroundColor = "white";
            }
            //Sidebar functions
            async function clickedProgress()
            {
                const tableContainer = document.getElementById('main-info')
                tableContainer.innerHTML = "<h1>Progress</h1>";
                
                const response = await fetch('/progress');
                const data = await response.json();
                //console.log(data);

                const table = document.createElement('table');
                table.classList.add('progress-table');

                const thead = table.createTHead();
                const tbody = table.createTBody();

                const headerRow = thead.insertRow();
                ['User','Language','Course','Completed','Completion Date'].forEach( (headerText) =>
                    {
                        const headerCell = document.createElement('th');
                        headerCell.textContent = headerText;
                        headerRow.appendChild(headerCell);
                    }
                );
                
                data.forEach( (dataObject) =>
                    {
                        const row = tbody.insertRow();
                        Object.values(dataObject).forEach( (value) =>
                            {
                                const cell = row.insertCell();
                                cell.textContent = value;
                            }
                        )
                    }
                );
                
                console.log(data);
                table.appendChild(tbody);
                tableContainer.appendChild(table);

            }
            function clickedLPath()
            {
                const content = document.getElementById('main-info');
                content.innerHTML = "<h1>Learning Path</h1>";

                const formEng = document.createElement("form");
                formEng.action = "/lp-english";
                formEng.id = "eng-form";
                formEng.method="GET";

                const btnEng = document.createElement('button');
                btnEng.classList.add("lp-btns");
                btnEng.textContent = "English";
                btnEng.form="eng-form";

                const formMal = document.createElement("form");
                formMal.action = "/lp-malayalam";
                formMal.id = "mal-form";
                formMal.method="GET";
                
                const btnMal = document.createElement('button');
                btnMal.classList.add("lp-btns");
                btnMal.textContent = "Malayalam";
                btnMal.form="mal-form";

                const formTam = document.createElement("form");
                formTam.action = "/lp-tamil";
                formTam.id = "tam-form";
                formTam.method="GET";
                
                const btnTam = document.createElement('button');
                btnTam.classList.add("lp-btns");
                btnTam.textContent = "Tamil";
                btnTam.form="tam-form";

                const formTel = document.createElement("form");
                formTel.action = "/lp-telugu";
                formTel.id = "tel-form";
                formTel.method="GET";

                const btnTel = document.createElement('button');
                btnTel.classList.add("lp-btns");
                btnTel.textContent = "Telugu";
                btnTel.form="tel-form";

                const formKan = document.createElement("form");
                formKan.action = "/lp-kannada";
                formKan.id = "kan-form";
                formKan.method="GET";

                const btnKan = document.createElement('button');
                btnKan.classList.add("lp-btns");
                btnKan.textContent = "Kannada";
                btnKan.form="kan-form";

                const formHin = document.createElement("form");
                formHin.action = "/lp-hindi";
                formHin.id = "hin-form";
                formHin.method="GET";

                const btnHin = document.createElement('button');
                btnHin.classList.add("lp-btns");
                btnHin.textContent = "Hindi";
                btnHin.form="hin-form";

                formEng.appendChild(btnEng);
                formMal.appendChild(btnMal);
                formTam.appendChild(btnTam);
                formTel.appendChild(btnTel);
                formKan.appendChild(btnKan);
                formHin.appendChild(btnHin);

                content.appendChild(formEng);
                content.appendChild(formMal);
                content.appendChild(formTam);
                content.appendChild(formTel);
                content.appendChild(formKan);
                content.appendChild(formHin);
            }
            function clickedAssessment()
            {
                document.getElementById('main-info').innerHTML = "<h1>Assessments</h1>";
            }
            function clickedFeedbacks()
            {
                document.getElementById('main-info').innerHTML = "<h1>Feedbacks</h1>";
            }
            function clickedSettings()
            {
                document.getElementById('main-info').innerHTML = "<h1>Settings</h1>";
            }
        </script>
    </body>
</html>