header {
    display: grid;
    grid-template-columns: 3fr 2.5fr 0.5fr;
    grid-template-rows: 1fr;
    background-color: green;
    height: 10vh;
    color: white;
    font-size: 1.5rem;
    padding: 5px 15px;
}

.logo-title {
    font-weight: bold;
    display: flex;
    align-items: center;
    
}

.user-welcome {
    display: flex;
    align-items: center;
    justify-content: right;
}

.logout-section {
    display: flex;
    align-items: center;
    justify-content: right;
}

.logout-section input {
    font-size: 1rem;
    padding: 10px;
    border: 0px;
    border-radius: 12px;
}

.logout-section input:hover {
   background-color: red;
   color: white;
   cursor: pointer;
}

.content-container {
    display: grid;
    grid-template-columns: 0.75fr 6fr;
    grid-template-rows: 1fr;
    gap: 10px;
    height: 85vh;
}

.sidebars {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr,5);
    padding: 5px;
    gap: 5px;
}

.sidebar {
    background-color: rgb(149, 240, 149);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

.sidebar:hover {
    cursor: pointer;
    background-color: rgba(149, 240, 149, 0.568);
}

.main-content {
    color: grey;
    overflow: auto;
}

.progress-table {
    background-color: white; 
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    color: blue;
}

table, th, td {
    
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

.lp-btns {
    font-size: 2rem;
    padding: 20px;
    margin: 10px 0px;
    background-color: navy;
    color: white;
    border: 0px;
    border-radius: 12px;
    width:90%;
}

.lp-btns:hover {
    cursor: pointer;
    border: 1px solid navy;
    background-color: white;
    color: navy;
    font-weight: bold;
    box-shadow: 4px 4px 4px 4px blue;
}

.logo-title a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.logo-title a:hover {
    background-color: white;
    color: black;
}

label {
    font-size: 1.75rem;
    color: black;
}

input {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 12px;
}